.container {
  font-family: Helvetica;
}
.numbers {
  position: absolute;
  top: 534px;
  font-size: 220px;
}

.hours, .minutes {
  position: absolute;
  left: 176px;
  font-size: 220px;
  line-height: 232px;
  width: 360px;
  text-align: center;
  height: 232px;
  text-align: center;
}

.minutes {
  left: 586px;
}

.hours > div, .minutes > div {
  width: 160px;
  height: 232px;
  float: left;
}

.hourFirst, .minFirst {
  margin-right: 15px;
}

.container .invisible {
  display: none;
}

.container img.copy  {
  position: absolute;
  bottom: 0;
}
.container .overlay {
  width: 1080px;
  height: 1920px;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.container img.slide {
  position: absolute;
  top: 424px;
  width: 1080px;
  left: 0;
  height: 1207px;
}

.container .bar {
  background:rgba(0,0,0,0.5);
  top: 1500px;
  left: 138px;
  position: absolute;
  z-index: 1;
  color: #fff;
  font-size: 38px;
  font-family: HelveticaNeueLTStd;
  height: 138px;
  line-height: 5rem;
  padding: .7em 1rem;
  width: 100%;
}

.container .avatar {
  background:#fff;
  height: 138px;
  width: 138px;
  top: 1500px;
  left: 0;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-size: contain;
}
