.container {
  font-family: digital;
}
.numbers {
  position: absolute;
  top: 1002px;
  color: #FFF000;
  font-size: 220px;
}

.hours {
  position: absolute;
  left: 265px;
  font-size: 220px;
  width: 151px;
  text-align: center;
}

.minutes {
  left: 496px;
  width: 350px;
  height: 200px;
  position: absolute;
}

.minFirst {
  position: absolute;
  top: 0;
  width: 151px;
  text-align: center;
}
.minSecond {
  position: absolute;
  top: 0;
  width: 151px;
  text-align: center;
  left: 176px;
}

.container .invisible {
  display: none;
}

.container img.copy  {
  position: absolute;
  bottom: 0;
}
.container .overlay {
  width: 1080px;
  height: 1920px;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.container img.slide {
  position: absolute;
  top: 424px;
  width: 1080px;
  left: 0;
  height: 1207px;
}

.container .bar {
  background:rgba(0,0,0,0.5);
  top: 1500px;
  left: 138px;
  position: absolute;
  z-index: 1;
  color: #fff;
  font-size: 38px;
  font-family: HelveticaNeueLTStd;
  height: 138px;
  line-height: 5rem;
  padding: .7em 1rem;
  width: 100%;
}

.container .avatar {
  background:#fff;
  height: 138px;
  width: 138px;
  top: 1500px;
  left: 0;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-size: contain;
}
