html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#container {
  width: 1080px;
  height: 1920px;
  margin: 0;
  overflow: hidden;
  color: #000;
  font-family: 'HelveticaNeue', sans-serif;
  position: relative;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
  z-index: 2;
}

.placeholder.invisible {
  opacity: 0;
}

.subwayline {
  position: absolute;
  top: 60px;
  left: 560px;
}

.subwayline > div {
    float: left;
    color: #fff;
    height: 100px;
    width: 100px;
    margin-right: 15px;
    font-size: 65px;
    line-height: 120px;
    text-align: center;
    border-radius: 100%;
    font-family: HelveticaNeue;
}

.line123 { background-color: #f13224; }
.line456 { background-color: #009437; }
.line7 { background-color: #bb2baf; }
.lineACE { background-color: #254db0; }
.lineNQR {
  background-color: #fdcd00;
  color: #000000;
}
