html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#container {
  width: 1080px;
  height: 1920px;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-family: 'HelveticaNeue', sans-serif;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
  z-index: 2;
}

.placeholder.invisible {
  opacity: 0;
}


#twitterText {
  position: absolute;
  top: 1064px;
  left: 134px;
  color: #404040;
  font-size: 68px;
  width: 812px;
  font-family: 'HelveticaNeue';
  letter-spacing: -2px;
  height: 600px;
}

#twitterText strong {
  display: block;
  margin-bottom: 50px;
  font-family: 'HelveticaNeue-Bold';
}

#twitterText a {
  color: #999999;
  text-decoration: none;
}

#twitterText p {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  display: block;
  width: 100%;
  height: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
}
