@font-face {
  font-family: "Graphik";
  src: url('assets/fonts/Graphik-Black.otf');
}

html, body {
  width: 1080px;
  height: 1920px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#container {
  width: 1080px;
  height: 1920px;
  margin: 0;
  overflow: hidden;
  color: #fff;
  background-image: url('assets/images/lotto-bg.jpg');
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
}

.placeholder.invisible {
  opacity: 0;
}

.lotto-container {
  position: absolute;
  background-color: white;
  width: 385px;
  height: 215px;
  left: 363px;
  text-align: center;
}

span.jackpot {
  display: inline-block;
  width: inherit;
  color: red;
  font-size: 180px;
  font-family: "Graphik", serif;
  margin-top: -25px;
}

span.quantifier {
  display: inline-block;
  width: inherit;
  color: red;
  font-size: 60px;
  font-family: "Graphik", serif;
  margin-top: -20px;
}

#megamillions-container {
  top: 460px;
}

#powerball-container {
  top: 1580px;
}
