@font-face {
    font-family: HelveticaNeueLTStd;
    src: url("../font/HelveticaNeueLTStd-Md.otf");
}

.nyc-co-main {
  background-color: #fff;
  color: #000;
}

.nyc-co-main .invisible {
  display: none;
}

.nyc-co-main img.nyc-co-copy  {
  position: absolute;
  bottom: 0;
}

.nyc-co-main img.slide {
  width: 910px;
  height: 910px;
  position: absolute;
  top: 163px;
  left: 85px;
  border: 2px solid #2b286b;
}

.nyc-co-main .nyc-co-logo {
  position: absolute;
  top: 29px;
  left: 29px;
}

.nyc-co-main .nyc-co-bar {
  background:rgba(0,0,0,0.5);
  width: 719px;
  top: 937px;
  left: 225px;
  position: absolute;
  z-index: 1;
  color: #fff;
  font-size: 38px;
  padding: 70px 27px 22px;
  font-family: HelveticaNeueLTStd;
}

.nyc-co-main .nyc-co-avatar {
  background:#fff;
  height: 139px;
  width: 138px;
  top: 937px;
  left: 87px;
  position: absolute;
  z-index: 1;
}
